default: &default
  adapter: mysql2
  encoding: utf8mb4
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: <%= ENV["user_mysql"] %>
  password: <%= ENV["password_mysql"] %>
  socket: /var/run/mysqld/mysqld.sock

development:
  <<: *default
  database: <%= ENV["database_name"] %>

test:
  <<: *default
  database: language_test

production:
  <<: *default
  database: <%= ENV["database_name"] %>
  username: <%= ENV["user_mysql"] %>
  password: <%= ENV["password_mysql"] %>
